@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 15rem;
  }
  
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .gradient-primary {
    background: linear-gradient(135deg, #334155 0%, #0f172a 100%);
  }
}
